extends layout

block content
  h2
    i.icon-beaker
    |  #{title}
  p Aliquam imperdiet mollis ultricies. Suspendisse nec magna id dui porttitor porta vitae vel dolor. Duis malesuada sit amet lorem a lobortis. Maecenas pellentesque ultrices dui, sed faucibus neque gravida eu. Nulla tempor odio eu scelerisque faucibus. Nullam convallis rhoncus bibendum. Ut feugiat odio at sollicitudin rutrum. Curabitur id sollicitudin nisi, vitae pretium mi. Ut sit amet arcu scelerisque massa ullamcorper ultricies id vitae tortor. Nulla ac dui vel mi blandit molestie.